<div class="outer">
    <div class="inner">
        <div class="header">

            <h1>Manage Accounts</h1>
        </div>
        <mat-card>
            <span class="header-spacer"></span>
            <button *ngIf="dirty" type="button" (click)="resetAccounts()" color="warn" class="header-button" mat-button>
                <span>Discard Changes</span>
            </button>
            <button *ngIf="dirty" (click)="setAccounts()" color="affirmative" type="button"
                class="header-button affirmative" mat-button>
                <span>Save Changes</span>
            </button>
            <button type="button" color="accent" class="header-button" (click)="addAccount()" mat-raised-button>
                <span>New Account</span>
            </button>
        </mat-card>
        <mat-accordion class="accounts-headers-align" multi>
            <mat-expansion-panel *ngFor="let account of accounts; let i = index" (opened)="expandAccount(account.id)"
                (closed)="collapseAccount(account.id)" [expanded]="!collapsed_accounts.has(account.id)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ account.name }}
                    </mat-panel-title>
                    <mat-panel-description>
                        ${{ account.balance | number: '1.2-2' }}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <form>
                    <div class="form-row" [formGroup]="accountFormGroups[i]" appearance="standard">
                        <mat-icon>account_balance_wallet</mat-icon>
                        <mat-form-field>
                            <mat-label>Account Name</mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>
                        <mat-form-field appearance="legacy" floatLabel="always">
                            <mat-label>Balance</mat-label>
                            <material-input formControlName="balance" type="currency"></material-input>
                            <span matPrefix>$&nbsp;</span>
                        </mat-form-field>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="form-row">
                    </div>
                    <div class="form-row simple-row">
                        <mat-icon>table_rows</mat-icon>
                        <span class="span-button" (click)="openImportSettingsConfigurationDialog(account)">Edit import
                            settings</span>
                    </div>

                    <mat-divider></mat-divider>
                    <div class="form-row simple-row">
                        <mat-icon>settings_input_component</mat-icon>
                        <span class="span-button"
                            (click)="openTransactionDatapointMappingConfigurationDialog(account)">Edit transaction
                            datapoint mappings</span>
                    </div>
                </form>
                <mat-action-row>
                    <button mat-button color="warn" (click)="remove(account)">Delete</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>