<div mat-dialog-content>
    <h2 mat-dialog-title>Datapoint Mappings</h2>
    <div class="tab-view-window">
        <div class="tabs" [style.left]="tabOffset">
            <div class="tab">

                <div class="dp-list-header" [formGroup]="editMappingFormGroup">
                    <mat-icon>search</mat-icon>
                    <mat-form-field appearance="legacy" floatLabel="never">
                        <input matInput type="text" placeholder="Search" formControlName="searchControl">
                        <button matSuffix *ngIf="searchControl.value" (click)="searchControl.reset()" mat-icon-button>
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <span class="spacer"></span>
                    <button type="button" color="accent" (click)="addMapping()" mat-raised-button>
                        <span>New mapping</span>
                    </button>
                </div>


                <div class="dp-list-scroller">

                    <div class="dp-list">
                        <div class="dp-list-item" (click)="editMapping(datapointMapping)"
                            *ngFor="let datapointMapping of filteredDatapointMappings; let last=last; let first=first;"
                            [ngClass]="{'last': last, 'first':first}">
                            <span class="focus-overlay"></span>
                            <div class="dp-list-item-outer-wrapper">
                                <div class="list-item-wrapper" [ngClass]="{'color warn': validateMapping(datapointMapping)}">
                                    <span matLine>{{ datapointMapping._summary }}</span>
                                    <span class="spacer"></span>
                                    <mat-icon matListIcon>navigate_next</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab">
                            <div class="form-row">
                            <span class="spacer"></span>
                            <button mat-stroked-button color="secret" (click)="viewJson()">View Json</button>
                            <button mat-stroked-button color="warn" (click)="deleteMapping()">Delete Mapping</button>
                            <button mat-stroked-button (click)="discardMappingChanges()">Discard Changes</button>
                            <button mat-stroked-button color="affirmative" (click)="saveMappingChanges()">Save Mapping</button>
                            </div>
                <div class="mapping-editor">
                    <form [formGroup]="editMappingFormGroup">

                            <div class="form-row">
                                <mat-radio-group formControlName="detectorDefaultControl">
                                    <mat-radio-button class="detector-radio-button" value="always">Always activate this rule</mat-radio-button>
                                    <mat-radio-button class="detector-radio-button" value="condition">Only activate this rule when condition is met</mat-radio-button>
                                </mat-radio-group>
                            </div>

                        <mat-divider></mat-divider>

                        <div class="form-row">
                            <label class="detector-text">If column</label>
                            <mat-form-field appearance="standard" >
                                <material-input formControlName="detectorColumnControl" type="integer" placeholder="Column number"></material-input>
                                <mat-hint>Columns are zero indexed</mat-hint>
                            </mat-form-field>
                            <mat-form-field appearance="standard">
                                <mat-select formControlName="detectorOperationControl">
                                    <mat-option *ngFor="let op of detectorOperations | keyvalue" [value]="op.value">{{op.value.viewValue}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="standard"
                                *ngIf="editMappingFormGroup.controls['detectorRegexControl'].enabled">
                                <input matInput type="text" placeholder="Enter regular expression"
                                    formControlName="detectorRegexControl">
                            </mat-form-field>
                            <div *ngIf="editMappingFormGroup.controls['detectorRegexControl'].enabled">
                                <pre prism language="regex" #detectorRegexView></pre>
                            </div>
                            <mat-form-field appearance="standard" *ngIf="editMappingFormGroup.controls['detectorComparisonControl'].enabled">
                                <mat-select formControlName="detectorComparisonControl" placeholder="Select">
                                    <mat-option *ngFor="let cp of comparisons | keyvalue" [value]="cp.value">{{cp.value.viewValue}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="standard" *ngIf="editMappingFormGroup.controls['detectorValueControl'].enabled">
                                <input formControlName="detectorValueControl" matInput placeholder="Value">
                            </mat-form-field>
                            <mat-checkbox formControlName="detectorCheckboxControl" *ngIf="editMappingFormGroup.controls['detectorCheckboxControl'].enabled">
                                value is numeric
                            </mat-checkbox>
                        </div>

                        <mat-divider></mat-divider>

                        <div class="form-row">
                            <label class="parser-text">Then set datapoint:</label>

                            <mat-form-field appearance="standard">
                                <mat-select placeholder="Select" formControlName="parserDatapointControl">
                                    <mat-option *ngFor="let item of parserDatapoints | keyvalue" [value]="item.value">
                                        {{item.value.viewValue}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="standard">
                                <mat-select formControlName="parserOperationControl">
                                    <mat-option *ngFor="let item of availableParserOperations" [value]="item">
                                        {{item.viewValue}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="standard"
                                *ngIf="editMappingFormGroup.controls['parserAutocompleteControl'].enabled">
                                <input type="text" [placeholder]="parserAutocompletePlaceholder" matInput
                                    [matAutocomplete]="parserAutocomplete" formControlName="parserAutocompleteControl">
                                <mat-autocomplete #parserAutocomplete="matAutocomplete"
                                    [displayWith]="parserAutocompleteDisplayFunction">
                                    <mat-option *ngFor="let item of parserAutocompleteFilteredOptions" [value]="item">{{
                                        item.value }}</mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <span class="parser-text" *ngIf="parserNewAutocompleteString">(New!)</span>

                            <mat-form-field appearance="standard"
                                *ngIf="editMappingFormGroup.controls['parserCurrencyControl'].enabled">
                                <material-input type="currency" formControlName="parserCurrencyControl">
                                </material-input>
                                <span matPrefix>$&nbsp;</span>
                            </mat-form-field>

                            <mat-form-field appearance="standard"
                                *ngIf="editMappingFormGroup.controls['parserColumnControl'].enabled">
                                <material-input type="integer" formControlName="parserColumnControl" placeholder="Column number"></material-input>
                                <mat-hint>Columns are zero indexed</mat-hint>
                            </mat-form-field>

                            <mat-checkbox formControlName="parserCheckboxControl"
                                *ngIf="editMappingFormGroup.controls['parserCheckboxControl'].enabled">
                                Multiply value by -1
                            </mat-checkbox>

                            <mat-form-field *ngIf="editMappingFormGroup.controls['parserDatepickerControl'].enabled">
                                <input formControlName="parserDatepickerControl" matInput [matDatepicker]="datePicker"
                                    placeholder="Date">
                                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                                <mat-datepicker #datePicker></mat-datepicker>
                            </mat-form-field>


                            <mat-form-field appearance="standard"
                                *ngIf="editMappingFormGroup.controls['parserTextControl'].enabled">
                                <input formControlName="parserTextControl" matInput type="text"
                                    placeholder="Description">
                            </mat-form-field>

                            <mat-form-field appearance="standard"
                                *ngIf="editMappingFormGroup.controls['parserRecurringControl'].enabled">
                                <mat-select formControlName="parserRecurringControl" value="recurring">
                                    <mat-option value="recurring">recurring</mat-option>
                                    <mat-option value="not recurring">not recurring</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <label *ngIf="editMappingFormGroup.controls['parserRegexControl'].enabled">
                                like
                            </label>

                            <mat-form-field appearance="standard"
                                *ngIf="editMappingFormGroup.controls['parserRegexControl'].enabled">
                                <input formControlName="parserRegexControl" matInput type="text" placeholder="Enter regular expression">
                                <mat-hint>First match group</mat-hint>
                            </mat-form-field>
                            <div *ngIf="editMappingFormGroup.controls['parserRegexControl'].enabled">
                                <pre prism language="regex" #parserRegexView></pre>
                            </div>

                        </div>

                    </form>
                </div>
            </div>

            <div class="tab">
                <div class="dp-list-header">
                    <button matSuffix (click)="returnToEditMapping()" mat-icon-button>
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
                <div class="dp-list-scroller">
                    <div class="dp-code-view">
                        <pre prism language="json" #jsonView></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions align="end">
    <div *ngIf="tabOffset === '0'">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="save()" mat-dialog-close cdkFocusInitial>Confirm</button>
    </div>
</div>