<div mat-dialog-content>
    <h2 mat-dialog-title>Datapoint Mappings</h2>
    <div class="tab-view-window">
        <div class="tabs" [style.left]="tabOffset">
            <div class="tab">

                <div class="dp-list-header">
                    <mat-icon>search</mat-icon>
                    <mat-form-field appearance="legacy" floatLabel="never">
                        <input matInput type="text" placeholder="Search">
                        <button matSuffix mat-icon-button>
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <span class="spacer"></span>
                    <button type="button" color="accent" (click)="addMapping()" mat-raised-button>
                        <span>New mapping</span>
                    </button>
                </div>


                <div class="dp-list-scroller">

                    <div class="dp-list">
                        <div class="dp-list-item" (click)="editMapping()"
                            *ngFor="let datapointMapping of datapointMappings; let last=last; let first=first;"
                            [ngClass]="{'last': last, 'first':first}">
                            <span class="focus-overlay"></span>
                            <div class="dp-list-item-outer-wrapper">
                                <div class="list-item-wrapper">
                                    <span matLine>{{ datapointMapping.isDefault }}</span>
                                    <span class="spacer"></span>
                                    <mat-icon matListIcon>navigate_next</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab">
                    <button matSuffix mat-icon-button (click)="returnToList()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    <div>
                        <form>

                            <mat-radio-group>
                                <div class="form-row">
                                <mat-radio-button value="always">Always activate this rule</mat-radio-button>
                                <mat-radio-button value="condition">Only activate this rule when condition is met</mat-radio-button>
                            </div>
                            </mat-radio-group>
                            <div class="form-row">


                            <label>Column</label>
                            <mat-form-field appearance="standard">
                                <material-input type="integer" placeholder="Column number"></material-input>
                            </mat-form-field>
                            <mat-form-field appearance="standard">
                                <mat-label>Select</mat-label>
                                <mat-select>
                                    <mat-option value="is_not_empty">is not empty</mat-option>
                                    <mat-option value="is_empty">is empty</mat-option>
                                    <mat-option value="is">is</mat-option>
                                    <mat-option value="matches_regular_expression">matches regular expression</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="standard">
                                <input matInput placeholder="Enter regular expression">
                            </mat-form-field>
                            <mat-form-field appearance="standard">
                                <mat-label>Select</mat-label>
                                <mat-select>
                                    <mat-option value="less_than">&lt;</mat-option>
                                    <mat-option value="less_than_or_equal">&lt;=</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="standard">
                                <input matInput placeholder="Value">
                            </mat-form-field>
                            </div>
                        </form>
                        <mat-divider></mat-divider>
                    </div>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
</div>