        <mat-card>
            <div class="content-row">
                <span class="spacer"></span>
                <button color="accent" (click)="addTransaction()" mat-stroked-button>
                    New Transaction
                </button>
                <button color="warn" (click)="deleteSelected()" mat-stroked-button>
                    Delete Selected
                </button>
            </div>
        </mat-card>
        <mat-card>
            <div class="content-row">
            <table>
                <tr>
                    <th>
                            <mat-checkbox [(ngModel)]="selectAllCheckboxValue" (change)="onSelectAllCheckboxChanged()"></mat-checkbox>
                    </th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Value</th>
                    <th>Vendor</th>
                    <th>Category</th>
                    <th>Recurring</th>
                </tr>
                <tr *ngFor="let element of paginatedData">
                    <td>
                        <mat-checkbox [(ngModel)]="element._selected" (change)="onSelectedChanged()"></mat-checkbox>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput [matDatepicker]="datePicker"
                                placeholder="Date" [(ngModel)]="element.date">
                            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                            <mat-datepicker #datePicker></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="standard">
                            <input matInput type="text" placeholder="Description" [(ngModel)]="element.description">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="standard">
                            <material-input type="currency" [(ngModel)]="element.value"></material-input>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="standard">
                            <input type="text" matInput
                                [matAutocomplete]="vendorAutocomplete" [(ngModel)]="element.vendor">
                            <mat-autocomplete #vendorAutocomplete="matAutocomplete">
                                <mat-option *ngFor="let item of getVendorOptions(element)" [value]="item">{{ item }}</mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="standard">
                            <input type="text" matInput
                                [matAutocomplete]="categoryAutocomplete" [(ngModel)]="element.category">
                            <mat-autocomplete #categoryAutocomplete="matAutocomplete">
                                <mat-option *ngFor="let item of getCategoryOptions(element)" [value]="item">{{ item }}</mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-checkbox [(ngModel)]="element.recurring"></mat-checkbox>
                    </td>
                    <td>
                        <button type="button" mat-icon-button (click)="removeTransaction(element)">
                            <mat-icon class="color warn">delete</mat-icon>
                        </button>
                    </td>
                    <td>
                        <mat-icon [matTooltip]="getErrors(element)" *ngIf="getErrors(element)" class="color warn">warning</mat-icon>
                    </td>
                </tr>
            </table>
            </div>
            <div class="content-row">
                            <span class="spacer"></span>
            <mat-paginator [pageSizeOptions]="pageSizes" [length]="data.length" (page)="paginate()"></mat-paginator>
            </div>
        </mat-card>