
@use '@angular/material' as mat;
@use 'sass:map';

@mixin theme($theme){
    $p: map.get($theme, primary);
    $primary: mat.get-color-from-palette($p);
    $a: map.get($theme, accent);
    $accent-lighter: map.get($a, lighter);
    $accent: map.get($a, default);

    .horizontal-center-div {
        border-color: $accent;
    }

    a {
        color: $accent;
    }
    a:hover {
        color: $accent-lighter;
    }

    div.login-form {
        background-color: $primary;
    }
}
