.gridster-item {
  background: none;
}

gridster.gridster-item {
  display:block;
}

div.toolbar {
  display: inline-block;
  width: 100%;
}

mat-card.toolbar {
  margin: 10px;
  padding: 14px;
  display: flex
}

span.toolbar {
  flex: 1 1 auto;

}

.gridster-container {
  height: 100%;
}