
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use './app/login/_login.component.scss' as login;

@use "sass:map";

$dark-primary: (
  50: #FAFAFA,
  100: #F5F5F5,
  200: #EEEEEE,
  300: #E0E0E0,
  400: #BDBDBD,
  500: #9E9E9E,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  contrast: (
    50: rgba(black, 0.8),
    100: rgba(black, 0.8),
    200: rgba(black, 0.8),
    300: rgba(black, 0.8),
    400: rgba(black, 0.8),
    500: rgba(black, 0.8),
    600: rgba(white, 0.7),
    700: rgba(white, 0.7),
    800: rgba(white, 0.7),
    900: rgba(white, 0.7),
  )
);

$dark-secondary: (
  50: #FEFCE9,
  100: #FCF7C9,
  200: #FAF3A6,
  300: #F7EE83,
  400: #F4E96A,
  500: #F0E451,
  600: #E2D24C,
  700: #CEBC45,
  800: #BAA63F,
  900: #998035,
  contrast: (
    50: rgba(black, 0.9),
    100: rgba(black, 0.9),
    200: rgba(black, 0.8),
    300: rgba(black, 0.8),
    400: rgba(black, 0.8),
    500: rgba(black, 0.8),
    600: rgba(black, 0.8),
    700: rgba(black, 0.8),
    800: rgba(black, 0.8),
    900: rgba(black, 0.8),
  )
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $dark-primary: mat.define-palette(mat.
$app-primary: mat.define-palette($dark-primary, 800);
$app-accent: mat.define-palette($dark-secondary, 900);

// The warn palette is optional (defaults to red).
$app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat.define-dark-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));

// TODO: https://material.angular.io/guide/theming

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($app-theme);
@include login.border-color($app-theme);
