@use "@angular/material" as mat;

/* Material styles */
@use "./theme/material-themes" as themes;


@include mat.core();


/* global styling */
/*
.app-content {
    position:absolute;
    top: 64px;
    bottom: 0;
    width: 100%;
    overflow-y: scroll;
}
*/

