<div class="outer">
    <div class="inner">
        <div class="header">
            <h1>Manage Transactions</h1>
        </div>
        <mat-card>
            <span class="header-spacer"></span>
            <mat-form-field appearance="standard" class="account-selector">
                <mat-select placeholder="Select account" [(ngModel)]="selectedAccount" >
                    <mat-option *ngFor="let account of accounts" [value]="account">
                        {{ account.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <button type="button" color="accent" class="header-button"
                [disabled]="!selectedAccount"
                *ngIf="mode===modes.none" (click)="mode=modes.edit" mat-raised-button>
                <span>Edit Transactions</span>
            </button>
            <button type="button" color="accent" class="header-button"
                [disabled]="!selectedAccount"
                *ngIf="mode===modes.none" (click)="mode=modes.add" mat-raised-button>
                <span>Add Transactions</span>
            </button>
            <button type="button" color="accent" class="header-button"
                [disabled]="!selectedAccount"
                *ngIf="mode===modes.none" (click)="mode=modes.import" mat-raised-button>
                <span>Import Transactions</span>
            </button>

            <button type="button" (click)="discard()" color="warn"
                *ngIf="mode!=modes.none" class="header-button" mat-button>
                <span>Discard Changes</span>
            </button>
            <button *ngIf="mode!=modes.none" (click)="save()" color="affirmative" type="button"
                class="header-button affirmative" mat-button>
                <span>Save Changes</span>
            </button>
        </mat-card>
        <app-transactions-add *ngIf="mode===modes.add"></app-transactions-add>
    </div>
</div>