@use "./material-palettes.scss" as palettes;
@use "sass:map";

/* default theme */
$themes: (
    default: (
        affirmative: palettes.$secondary-default,
    ),
    dark-gold: (
        affirmative: palettes.$mild-green,
    )
);

@function get-theme($theme){
    @if map.get($themes, $theme) {
        @return map.get($themes, $theme);
    }
    @return map.get($themes, default);
}
